<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



    <div class="container">   
   
      <p>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p>  
    </div>

 <ol>
    <li *ngFor="let lang of frontend">
      <span class="badge">{{lang}}</span><br><br>
    </li>
  </ol>

  
</body>
</html>
 -->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<input type="text" (keyup)="onNameKeyUp($event)">
<button type="button" class="btn btn-success" (click)="getProfile()">Get Profile</button><br><br>
<div *ngIf="found">
  <span>{{name}}</span><br>
  <span>{{age}}</span><br>
  <span>{{id}}</span><br>
</div>

<a href="#" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-log-out" (click)="logOut()"></span> Log out
</a>

<!-- <button (click)="logOut()" routerLink="/">Go Back</button> -->




